<div class="carousel slide visible-lg visible-md" data-ride="carousel" id="carousel-div">
    <div class="carousel-inner">
        <div class="item  ">
            <div id="div_tech" class="slide_container">
                <div class="container" >

                    <h1>Simple, Clean and it just works!</h1>

                    <div class="row">

                        <div class="col-md-3">
                            <div class="i_cont">
                                <a  href="">    
                                    <i class="fa fa-lock slide_i"></i>
                                    <br/>
                                    <span style="display:inline-block;font-size: 33px;color: #EF7530;" class="courier upp">Secure</span>
                                </a> 
                                <br>
                                Built in security against xss protection.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="i_cont">
                                <a  href="">    
                                    <i class="fa fa-bolt slide_i"></i>
                                    <br/>
                                    <span style="display:inline-block;font-size: 33px;color: #EF7530;" class="courier upp">Fast</span>
                                </a> 
                                <br>
                                Built in cache, twig templating
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="i_cont">
                                <a href="">    
                                    <i class="fa fa-archive slide_i"></i>
                                    <br/>
                                    <span style="display:inline-block;font-size: 33px;color: #EF7530;" class="courier upp">EASY</span>
                                </a> 
                                <br>
                                Powerful Admin Features
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="i_cont">
                                <a style="" href="">    
                                    <i class="fa fa-fighter-jet slide_i"></i>
                                    <br/>
                                    <span style="display:inline-block;font-size: 33px;color: #EF7530;" class="courier upp">EXTENSIBLE</span>
                                </a>
                                <br>
                                Ease of customization
                            </div>
                        </div>

                    </div> 
                </div>
            </div>  {#*****************END OF DIV_TECH*****************#}
        </div>  





        <div class="item active">
            <div id="div_features" class="slide_container">
                <div class="container" >
                    <div class="row">

                        <div class="col-md-3">
                            <div class="i_cont">
                                <a href="">    
                                    <i class="fa fa-file-text-o slide_i"></i>
                                    <br/>
                                    <span class="upp courier" style="display:inline-block;font-size: 18px;">Text Editor</span>
                                </a> 
                            </div>
                        </div> 

                        <div class="col-md-3">
                            <div class="i_cont">
                                <a   href="">    
                                    <i class="fa fa-envelope-o slide_i"></i>
                                    <br/>
                                    <span  class="upp courier" style="display:inline-block;font-size: 18px;">Newsletter</span>
                                </a>   
                            </div>  
                        </div> 

                        <div class="col-md-3">
                            <div class="i_cont">
                                <a href="">    
                                    <i class="fa fa-picture-o slide_i"></i>
                                    <br/>
                                    <span  class="upp courier" style="display:inline-block;font-size: 18px;">Gallery</span>
                                </a>   
                            </div>   
                        </div>

                        <div class="col-md-3">
                            <div class="i_cont">
                                <a  href="">    
                                    <i class="fa fa-comments-o slide_i"></i>
                                    <br/>
                                    <span  class="upp courier" style="display:inline-block;font-size: 18px;">Blog</span>
                                </a> 
                            </div>
                        </div>

                    </div>  
                </div>

                <h1>Everything you need and the kitchen sink <i class="fa fa-thumbs-up slide_i"></i></h1>

            </div>   {#*****************END OF DIV_FEATURES*****************#}
        </div>  



        <div class="item  ">
            <div id="div_responsive"  class="slide_container">
                <div class="container" style="">
                    <div class="row">

                        <div class="col-md-5">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="i_cont">
                                        <i class='fa fa-desktop slide_i'></i>   
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="i_cont">
                                        <i class='fa fa-laptop slide_i'></i>   
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="i_cont">
                                        <i class='fa fa-mobile slide_i'></i>   
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="i_cont">
                                        <i class='fa fa-tablet slide_i'></i>   
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-7">
                            <br><br>
                            <h1 class="upp courier">Responsive Designs</h1>
                            <h3 style="text-shadow: 0 1px 1px #FFFDB1;">
                                Technology has changed the way we think! Today, there are more hand-held devices connected to the Internet than ever before, and this is why we would find ourselves surfing, shopping, sharing, connecting to friends through our mobile phones and tablets rather than sitting in front of a computer.
                            </h3>
                        </div>

                    </div>     

                </div>

            </div>  
        </div>  {#*****************END OF DIV_RESPONSIVE*****************#}


    </div>
    <a class="left carousel-control" data-slide="prev" href="#carousel-div"><span class="glyphicon glyphicon-chevron-left"> </span>   </a> <a class="right carousel-control" data-slide="next" href="#carousel-div"> <span class="glyphicon glyphicon-chevron-right">   </span>   </a></div>

<div class="visible-sm visible-xs">
    <img class="img-responsive" src="{{asset('upload/images/banner.jpg')}}" />
</div>