

{% extends 'ZeteqFrontBundle:Layout:layout.html.twig' %}


{% block title %}
Forgot password?
{% endblock %}
{% block middle_container %}
 
<div class="container"><div class="row">
<div class="page-header"> <h1>Forgot password?</h1></div>
<h4>Please enter your email address. We will send instructions to your email on how to reset your password</h4>
<div class="row"><div class="col-md-4">
<form role="form" method="post" action="{{path('reset_password')}}">
    <div class="form-group">
        <label>Your email address</label> <input class="form-control " required  type="text" name="email"/>
        

</div>
<div class="form-group">
<input class="btn btn-primary " type="submit" value="Send" />
</div>
    </form>
</div></div>
 </div></div>
 

{% endblock %}






