{% extends 'ZeteqFrontBundle:Layout:layout.html.twig' %}

{% block title %}Reset Password{% endblock %}
 
{% block middle_container %}
<div class="container"><div class="row">
<div class="page-header">
 
    <h1>Reset Link Sent</h1>
    
 
</div>
<h4>Please check your email for further instructions.</h4>
</div></div>
{% endblock %}






