{% extends 'ZeteqFrontBundle:Layout:layout.html.twig' %}

{% block title %}
Forgot password?
{% endblock %}
{% block middle_container %}
<div class="container"><div class="row">
<div class="page-header">
    <h1 class="alert-warning"><i class="fa fa-times-circle"></i> Sorry we could not find the resource you are looking for</h1>

 
 
</div>
</div></div>
{% endblock %}



        