<h3>Hello</h3>
<p>Welcome to {{web}} Please activate your account by clicking on the link below.</p>
<h3><a href="{{web}}/activate_user/{{user.getActivationCode()}}">activate your account by clicking here</a></h3>
<h3>Best Regards</h3>
<h3>{{site_name}}</h3>