 {% extends 'ZeteqFrontBundle:Layout:layout.html.twig' %}

{% block title %}Registration Successfull{% endblock %}
 
{% block content %}
<div class="container">
    <div class="row">
<div class="page-header"><h1>Registration Successfull</h1></div>
<h3>Hello</h3> 
        
 

            <p>Thank you for  Registering with us </p>
            <p>We have sent an email providing a link to activate your account. 
                Please check your spam folders, if you don't receive the email in few minutes.
 
</p>

<h5>Best Regards</h5>
<h3>{{site_name}}</h3>
</div></div>
{% endblock %}