{% extends 'ZeteqFrontBundle:Layout:layout.html.twig' %}

{% block title %}Account Activated{% endblock %}
 
{% block middle_container %}
<div class="container"><div class="row">

              <div class="page-header" >
                  <h1>Your account has been activated. </h1>
         </div>

Thank you for activating. Now login
<a href="{{path('login')}}">login</a>


    
</div></div>
{% endblock %}