<div class="container">
<div class="section-header scrollimation fade-up in">
<h1 class="section-title " id="about_us_header" style="font-size: 90px; opacity: 1;">Who are we?</h1>

<p class="section-description lead">We are a team of programmers and designers located in Dhaka Bangladesh. Over the last 7 years we have worked with over hundreds of csdfdsfsdfdsflients from all over the world ranging from small stores to large Multinational Companies. Though currently we focus on responsive web applications in lamp, but we have successfully delivered solutions on almost all languages and platforms including perl, c#, java, etc.</p>
</div>
<!--End section-header -->

<div class="row">
<h1>Some of our featured clients</h1>

<div class="col-md-2">
<div class="well"><a href="">British American Tobacca</a></div>
</div>

<div class="col-md-2">
<div class="well"><a href="">The Asia Foundation</a></div>
</div>

<div class="col-md-2">
<div class="well"><a href="">USAID</a></div>
</div>

<div class="col-md-2">
<div class="well"><a href="">ICDDRB</a></div>
</div>

<div class="col-md-2">
<div class="well"><a href="">BTCL</a></div>
</div>

<div class="col-md-2">
<div class="well"><a href="">Telecom Infrastructure operators of Bangladesh</a></div>
</div>
</div>

<p class="lead text-center">Want to talk about a custom solution? Contact us to discuss about it.</p>

<p class="text-center"><a class="btn btn-theme btn-lg scrollto" href="#contact">Contact Us</a></p>
</div>

<div class="carousel" data-ride="carousel" id="carousel-div">
<div class="carousel-indicators"><span class="active " data-slide-to="1" data-target="#carousel-example-generic">o </span> <span data-slide-to="1" data-target="#carousel-example-generic"> o </span> <span data-slide-to="1" data-target="#carousel-example-generic"> o </span></div>

<div class="carousel-inner">
<div class="item  active  "><img src="/upload/images/callout.png" style="height:300px;width: 100%" /></div>

<div class="item  "><img src="/upload/images/kezu_relocation_sale.jpg" style="height:300px;width: 100%" /></div>

<div class="item  "><img src="/upload/images/missouri-avenue-plaza-shopping-center.jpg" style="height:300px;width: 100%" /></div>
</div>
<a class="left carousel-control" data-slide="prev" href="#carousel-div"><span class="glyphicon glyphicon-chevron-left"> </span>   </a> <a class="right carousel-control" data-slide="next" href="#carousel-div"> <span class="glyphicon glyphicon-chevron-right">  </span>   </a></div>