<div class="row">
<div class="col-md-4">{{include(service.getSlot(5))}}</div>

<div id="sadf" class="col-md-8">our ads


<a href="{{path('page_show',{'slug':'about-us'})}}">about s</a>
<a href="/page/about-us">about us </a>

</div>
</div>
<style>
#sadf{

background:red; 
}
</style>