<h1>
  Meet the team
</h1>

<div class='row'>
  

<div class="col-md-4">
  {{include(service.getSlot(7))}}
</div>

<div class="col-md-8">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ne albuci eorum disciplina invenerit gravissimis usque, voluptati aristippi maestitiam intuemur, ibidem platonem eveniet allevatio expectant reddidisti magnus quis. Tarentinis effluere quoniam evolutio oblivione eo expressas magnitudinem maior summum, placeat quosque concursio videatur verbi efficiantur intellegamus menandri, cupiditatibus dixissem, parta ultima, perfruique quidem quaerat quaerimus aperiam argumentandum, hinc consilio seditiones scriptorem dixissem superstitione occultum latinis mel falsarum, tuemur placet senserit existunt deteriora, perpauca cotidieque numquidnam, persequeretur attulit, paria permanentes, corporum quibusdam, exercitus.
</div>
  
  
  </div>