{{include(service.getSlot(6))}}


<div class="container">
    <div class="homebox">
        <i class="fa fa-puzzle-piece" style="color: #EF7530;font-size: 30px;padding-bottom: 10px;">&nbsp</i>
        <p>
            <italic>Zeteq®</italic> Simple CMS offers you with a powerful Content Management System that is ideal for a startup business!
            <italic>Zeteq®</italic> houses a dedicated team who are there to guide your way, all the way! See some of our other specialties below.
        </p>
    </div>
</div>

<div class="container" style="margin-top:40px;">

    <div class="row">
        
        <div class="col-md-4">
            <div class="home_icon">
                <i class="fa fa-money"></i>
                <h3>
                    ECommerce
                </h3>
                <div class="home_icon_text">
                    Zeteq websites come equipped with Ecommerce capabilities that you can easily use to buy and sell your products online! Our websites are integrated with payment gateway systems which are super safe! Starting an online store has never been easier! Templated and ready sites on the go!
                </div>
            </div>
        </div>

        <br class="visible-sm visible-xs">
        
        <div class="col-md-4">
            <div class="home_icon">
                <i class="fa fa-tags"></i>
                <h3>
                    Marketplace
                </h3>
                <div  class="home_icon_text">
                    The MarketPlace is a great and unique way you multiply your business online! There are many advantages of hosting multiple stores in your marketplace, the most important one being competition among the stores. You can the backend easy to configure and maintaine all your store and manage all contents of all stores!
                </div>
            </div>
        </div>

        <br class="visible-sm visible-xs">

        <div class="col-md-4">
            <div class="home_icon">
                <i class="fa fa-thumb-tack"></i>
                <h3>
                    Static Sites
                </h3>
                <div  class="home_icon_text">
                    We build customized websites for those who want to showcase their products and catalog them online. This category of websites are ideal for mid or small organizations as they do not require any specialized management system.
                </div>
            </div>
        </div>
    </div>

</div>

<br/>
<br/><br/><br/>