<div class="container" style="margin-bottom: 50px;"> 
    <br/>
    <h1 class="upp" style="text-align: center">Technical Information</h1>

    <p class="breakline"> </p>

    <div class="row feature_row">
        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div"><img class="icons" src="/simplecms/public_html/upload/images/icons/boot.png" /></div>

            <h2 class="feat-icon-h3">Bootstrap 3.0</h2>
             

            <h4>With Bootstrap 3.0, responsiveness has become ever so easy! With your sites built with Bootstrap 3.0, you are good to go on any device!</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div"><img class="icons" src="/simplecms/public_html/upload/images/icons/symfony.png" /></div>

            <h2 class="feat-icon-h3">Symfony 2</h2>
             

            <h4>Our sites are built on the most popular PHP framework in the market for web development - Symfony 2.</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div"><img class="icons" src="/simplecms/public_html/upload/images/icons/mysql.png" /></div>

            <h2 class="feat-icon-h3">MySQL Database</h2>
             

            <h4>MySQL Database is the database the serves the web! One of the most popular open-source relational darabase management systems out there.</h4>
        </div>
    </div>
     

    <div class="row feature_row">
        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div"><img class="icons" src="/simplecms/public_html/upload/images/icons/twig.png" /></div>

            <h2 class="feat-icon-h3">TWIG</h2>
             

            <h4>TWIG is a templating system that is super easy to learn and a very popular template engine. Easy to design with and also really fast!</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div"><img class="icons" src="/simplecms/public_html/upload/images/icons/secure.png" /></div>

            <h2 class="feat-icon-h3">Security</h2>
             

            <h4>The Symfony framework comes with Form Security, security against common web attacks like XSS, RFI, CSRF etc.</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div"><img class="icons" src="/simplecms/public_html/upload/images/icons/role.png" /></div>

            <h2 class="feat-icon-h3">Cache</h2><br>


            <h4>Caches we impletement - Media cache:  Auto Thumbnail Generator, Page Cache: Reduces unnecessary queries and loads pages faster, Configuration Cache: All configurations are preloaded to make the project faster!</h4>
        </div>
    </div>
</div>
