<div class="container">
  <br/>
  <h1>Admin Features</h1>
    
<div class="row">
  
  <div class="col-md-4">
        <div class="feat-icon-div">        <i class="fa fa-adjust"></i>      </div>
  <h3 class="feat-icon-h3">Image gallery</h3>
  </div>

    <div class="col-md-4">
        <div class="feat-icon-div">        <i class="fa fa-adjust"></i>      </div>
  <h3 class="feat-icon-h3">Database backup and restore</h3>
  </div>
  
    <div class="col-md-4">
        <div class="feat-icon-div">        <i class="fa fa-adjust"></i>      </div>
  <h3 class="feat-icon-h3">Built In File Manager</h3>
  </div>
  
</div>
  
  <div class="row">
  
  <div class="col-md-4">
        <div class="feat-icon-div">        <i class="fa fa-adjust"></i>      </div>
  <h3 class="feat-icon-h3">WYSWIG Page Editor</h3>
  </div>

    <div class="col-md-4">
        <div class="feat-icon-div">        <i class="fa fa-adjust"></i>      </div>
  <h3 class="feat-icon-h3">Automatic Backup</h3>
  </div>
  
    <div class="col-md-4">
      <div class="feat-icon-div">        <i class="fa fa-adjust"></i>      </div>
  <h3 class="feat-icon-h3">Role Based User Management</h3>
  </div>
  
</div>
  







  
  
</div>