{% extends 'ZeteqAdminBundle:Admin:admin_layout.html.twig' %}

{% block title %}
Restore Database
{% endblock %}
{% block content %}


<h3>Backups</h3>
<div class="well">
    <div class="alert-success"><i class="fa fa-check"></i> Your database has been backed up.</div>       

</div>

{% endblock %}
