{% extends 'ZeteqAdminBundle:Admin:admin_layout.html.twig' %}

{% block title %}
Restore Database
{% endblock %}
{% block content %}


<h3>Restored</h3>
 <div class="well">

    {{filename}} has been restored.

</div>

{% endblock %}
