{% extends 'ZeteqAdminBundle:Admin:admin_layout.html.twig' %}

{% block title %}
Admin
{% endblock %}
{% block content %}

<h1>Files</h1>
<div style="margin-bottom: 20px">
 {% for f in files %}


     <a style="text-align: center;margin:20px;" class="well"  target="_blank" href="{{path('filemanager_editfile',{'path':f.getRealPath})}}">  
  
{{f.filename}} </a>
 

{% endfor %}

</div>
           <h1>Dir</h1>
               
           
            {% for f in dirs %}
 
           <a  class="btn btn-small" href="{{path('show_dir',{'path':f.getRealPath})}}">     <i class="glyphicon glyphicon-folder-close"></i>   {{f.filename}}   </a>
 
 

    

{% endfor %}
            
            {% endblock %}