

<div id="footer" style="background:#101010"><div class="container">
        <div class="row">


            <div class="col-md-4">
                                <div class="footer_text">
                                    <h3>About Us</h3>

Stay up to date with our latest news and product releases by signing up to our newsletter.
                    
                </div>

            </div>
            <div class="col-md-4">
                
                                <div class="footer_text">
                                    <h3>Contact Us</h3>

                                    <ul>
                                        <li><a href=""><i class="fa fa-phone"></i> 01713129911</a></li>
                                       <li><a href=""><i class="fa fa-envelope"></i> info@company.com</a></li>
                                         <li><a href=""><i class="fa fa-home"></i> House 4 road 22 Gulshan 1 Dhaka Bangladesh</a></li>
                                    </ul>
                    
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="footer_text">
                     <h3>Newsletter</h3>

Stay up to date with our latest news and product releases by signing up to our newsletter.
                    
                </div>
{{include('ZeteqFrontBundle:Subscriber:form.html.twig')}}
            </div>
        </div>

        <h6>All rights reserved</h6>
    </div>
</div>